.service {
  margin-bottom: 10px;
}
.service__info {
  padding: 10px;
}

.service > img {
  max-height: 200px;
  width: 50px;
  object-fit: contain;
  margin-bottom: 15px;
  padding: 20px;
}
.accordion__header {
  color: #bc152b;
}
