.footer {
  display: flex;
  background: #0c2340;
  margin-bottom: 20px;
}
.copy__right {
  margin-left: 20px;
  margin-right: 50px;
  font-size: 15px;
  color: white;
  letter-spacing: 5px;
}

/*--------------------------------------------------
    ##Footer
---------------------------------------------------*/
.footer-area {
  background-color: navy;
  background-position: center;
  background-size: cover;
  margin-top: -86px;
  z-index: 0;
  padding: 183px 0 57px;
}

.footer-inner .widget-contact p {
  margin-bottom: 21px;
}
.footer-inner .widget-contact .social-area li a {
  color: #083996;
}
.footer-inner .widget-contact .social-area li a:hover {
  color: #fff;
}

.footer-bottom {
  padding: 29px 0;
}
.footer-bottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
}
.footer-bottom ul li {
  font-size: 18px;
  margin-right: 18px;
  color: #292929;
}
.footer-bottom .copy-right {
  font-size: 18px;
  color: #292929;
}

.footer-inner-2 .widget-contact .social-area li a:hover {
  background: #ff536d;
}
